@import url('https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css');
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

main,
.header {
  max-width: 1000px;
  margin: auto;
}

/* Custom CSS Properties for font styling
   takes a bit to set up but once set up makes styling much quicker */

:root {
  --ff-primary: 'Amatic SC', fantasy;
  --ff-secondary: 'Josefin' sans-serif;

  --fw-red: 300;
  --fw-bold: 900;

  --clr-light: #eee0cb;
  --clr-dark: #303030;
  --clr-accent: #86bbf7;

  --fs-h1: 3rem;
  --fs-h2: 2.1rem;
  --fs-h3: 1.25rem;
  --fs-body: 1 rem;

  --bs: 0.25em 0.25em 0.75em rgb(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgb(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.3rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */

body {
  background: var(--clr-dark);
  color: white;
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 4em 2em;
}
/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* Header and Intro Typography */

.intro-title {
  font-weight: var(--fw-reg);
}

.intro-title {
  display: block;
  font-family: var(--ff-primary);
}

.intro-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  background: var(--clr-accent);
  margin-bottom: 1em;
  padding: 1em;
  display: inline-block;
  font-family: var(--ff-primary);
}

.core-value-subtitles {
  margin: 0;
  font-size: var(--fs-h3);
  background: var(--clr-accent);
  margin-bottom: 1em;
  padding: 1em;
  display: inline-block;
}

/* About Me Section Typography */

.about-section {
}

.about-title {
  margin: 0;
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
}

/* Core Values Section Typography */

.core-values-title {
  margin: 0;
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
}

/* NAV BAR ***/

.navbar-nav {
  list-style: none;
  background-color: #444;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  overflow: hidden;
}

.nav-link {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  text-align: center;
}

.nav-link-active {
  background: var(--clr-accent);
}

.nav-link:hover {
  background: var(--clr-accent);
}

.nav-link {
  display: block;
  text-align: auto;
}

/* Intro Section */

.intro {
  position: relative;
}

.intro-img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: auto;
    grid-column-gap: 1em;
    grid-template-areas: 'img title' 'img subtitle';
    grid-template-columns: min-content max-content;
  }

  .intro-subtitle {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    display: inline-block;
  }
}

.intro-img {
  grid-area: img;
  min-width: 250px;
  position: relative;
  z-index: 2;
}

/* About Section */

.about-section h2 {
  text-align: center;
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin-bottom: 0.6em;
  color: var(--clr-accent);
}

.about-section p {
  padding: 0.5em;
  text-indent: 1.8em;
}

/* Technical Skills Section */

.technical-skills-section {
}

.technical-skills-section h2 {
  text-align: center;
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin-bottom: 0.6em;
  color: var(--clr-accent);
  font-family: var(--ff-primary);
}

.technical-skills-section div {
  text-align: center;
}

@media (min-width: 500px) {
  .technical-skills-section ul {
    display: inline-block;
    padding: 0.5em;
  }
}
/* Core Values section */

.core-values-section h2 {
  text-align: center;
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin-bottom: 0.6em;
  color: var(--clr-accent);
  width: 100%;
}

.core-value-subtitles {
  width: 100%;
  font-family: var(--ff-primary);
}

.value {
  height: 300px;
  width: 300px;
  text-align: center;
  border: solid 1px black;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  box-shadow: 3px 3px 3px 3px white;
}

.value p {
  padding: 2px;
}
@media (min-width: 600px) {
  .core-values-section article {
    display: grid;
    grid-template-areas:
      'topleft-value topright-value'
      'bottomleft-value bottomright-value';
    gap: 20px;
    max-width: 700px;
    margin: auto;
  }

  .value {
  }

  .core-value-section {
  }
}
